.botao-vazado{
    border: solid 1px #bababa;

    color: #bababa;

    padding: 8px 24px;   /* espaço entre a borda e o conteúdo */

    font-size: 16px;      /* tamanho das letras */
    letter-spacing: 2px;    /* espaço entre letras */
} 