.titulo-principal{
    display: flex;
    flex-direction: column;
    padding-top: 200px;
   
 
}
.n{
    display: flex;
    flex-direction: row;
 padding-left: 100px;   
  
    
    /* border: solid 2px blue; */
    font-size: 30px;
    color: red;
}
.pequeno{
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 500;
    gap: 20px;
    letter-spacing: 5px;
    margin-left: 10px;
}
.titulo{
    display: flex;
    flex-direction: column;
    /* border: solid 2px red; */
    

}
.linha1{
 font-size: 50px;
 width: 550px;
 padding-left: 100px;
 letter-spacing: 20px;
 margin-left: 50px;

}
.linha2{
 font-size: 50px;
 width: 550px;
 padding-left: 100px;
 letter-spacing: 20px;
 
}
.resto{
    /* border: solid 2px pink; */
    display: flex;
    flex-direction: row;
  
    
    padding-top: 50px;
    padding-left: 50px;

    

}
.play{
    display: flex;
    flex-direction: row;
    /* border: solid 2px green; */
    padding: 15px;
    margin: 15px;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding-left: 30px;
    
width: 140px;
height: 35px;
font-weight: 500;
    font-size: 20px;
}
.informacao{
    display: flex;
    flex-direction: row;
    /* border: solid 2px green; */
    padding: 15px;
    margin: 15px;
    align-items: center;
    font-weight: 600;
/*     
    border: solid 2px green ; */
padding-left: 30px;
width: 220px;
height: 35px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(85, 86, 86);
    
    
}
.emoji{
    display: flex;
    flex-direction: row;
    margin: 5px;
    align-items: center;
    font-size: 30px;
    
    
}
.som{
    display: flex;
    flex-direction: row;
   margin-left:1150px;
    font-size: 35px;
    align-items: center;
    /* border: solid 2px red; */

}
.idade{
     display: flex;
    flex-direction: row;
    font-size: 35px;
    margin-left: 20px;
    align-items: center;
  
    height: 40px;
    margin-top: 30px;
    color: black;
    background-color: yellow;
    border-radius: 5px;
}

