.top-bar{
    display: flex;
    flex-direction: row;

    align-items: center;


}
.parte12{
      display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    gap: 25px; 
    
     font-size: 20px;
    font-weight: 400;    
    
}
.logo{
    display: flex;
    flex-direction: row;
    width: 200px;
    
    
   
    
}

.parte22{
    display: flex;
    flex-direction: row;
    padding-right: 25px;
    font-size: 20px;
    font-weight: 400;
    color: aliceblue;    
}
.image{
    margin-right: 15px;
    align-items: center;
    margin-top: 5px;
}
.link{
    color: aliceblue;
}